*{
    font-family: 'Franklin Gothic Medium';
    background-color: rgb(0, 0, 0);             
}

h1{
    float: right;
    margin-right: 10rem;
    margin-top: 4rem;
    font-size: 25pt;
    color: rgb(3, 253, 3);
}

label{
    float: right;
    clear: both;
    margin-top: 1rem;
    margin-right: 40rem;
    font-size: 30pt;
    color: rgb(153, 255, 0);
}

#name{
    clear: both;
    float: right;
    margin-top: -2rem;
    margin-right: 25rem;
    color: green;
    border-radius: 5rem;
    background-color: aliceblue;
    border:none;
    height: 20pt;
    text-align: center;
    font-size: 12pt;
}

#save{
    clear: both;
    float: right;
    margin-top: -2rem;
    margin-right: 15rem;
    border-radius: 1rem;
    background-color: rgb(102, 249, 220);
    border:none;
    height: 20pt;
    text-align: center;
    font-size: 12pt;
}

#highscore{
    font-size: 20pt;
    clear: both;
    float: right;
    margin-top: 5rem;
    margin-right: 25rem;
    color: rgb(147, 18, 18);
    text-align: center;
}